In [1]:
import polars as pl

In [81]:
acc_holder_df = pl.read_csv('data/Account Holders.csv')
acc_info_df = pl.read_csv('data/Account Information.csv')
tra_detail_df = pl.read_csv('data/Transaction Detail.csv')
tra_path_df = pl.read_csv('data/Transaction Path.csv')

In [82]:
display(
    acc_holder_df.glimpse(), 
    acc_info_df.glimpse(),
    tra_detail_df.glimpse(),
    tra_path_df.glimpse()
)

Rows: 3072
Columns: 5
$ Account Holder ID     <i64> 70390615, 20123998, 54374080, 97027297, 89920386, 97325900, 89460366, 53258828, 41402857, 8882143
$ Name                  <str> 'Mahmoud Hehnke', 'Maynord Surgeoner', 'Giraldo Kimbley', 'Blake Dudson', 'Ajay Douce', 'Evonne Lindell', 'Kayla Emtage', 'Effie Bigglestone', 'Federico Cathro', 'Kizzee Puddephatt'
$ Date of Birth         <str> '28/08/1995', '21/08/1997', '22/03/1995', '30/06/1955', '19/12/1930', '07/07/1946', '12/10/1987', '04/03/1992', '13/12/1985', '18/10/2003'
$ Contact Number        <i64> 7479286250, 7716107305, 7489940612, 7253587445, 7395580534, 7631255412, 7867994451, 7623832140, 7283906757, 7598835878
$ First Line of Address <str> '18535 Loftsgordon Park', '6422 Buena Vista Plaza', '93005 Summer Ridge Avenue', '2 Huxley Hill', '90176 Miller Alley', '90176 Miller Alley', '8 Green Ridge Alley', '231 Spenser Hill', '12 Green Hill', '72404 Maywood Avenue'

Rows: 3000
Columns: 5
$ Account Number    <i64> 10005367, 10011977, 10024680, 10031238, 10034341, 10079965, 10091076, 10231977, 10232603, 10243581
$ Account Type      <str> 'Platinum', 'Basic', 'Platinum', 'Basic', 'Joint', 'Basic', 'Platinum', 'Basic', 'Gold', 'Gold'
$ Account Holder ID <str> '70390615', '20123998', '54374080', '97027297', '89920386, 97325900', '89460366', '53258828', '41402857', '08882143', '84620072'
$ Balance Date      <str> '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31'
$ Balance           <f64> 728.25, 676.54, 567.46, 576.52, 390.39, 799.27, 831.83, 61.63, 732.55, 104.27

Rows: 8781
Columns: 4
$ Transaction ID   <i64> 1957155, 28234510, 33688648, 41670299, 42825784, 57723869, 90399803, 100789145, 111960312, 119530112
$ Transaction Date <str> '2023-02-01', '2023-02-01', '2023-02-01', '2023-02-01', '2023-02-01', '2023-02-01', '2023-02-01', '2023-02-01', '2023-02-01', '2023-02-01'
$ Value            <f64> 128.78, 163.82, 54.71, 88.1, 217.22, 89.22, 80.86, 117.31, 187.15, 87.59
$ Cancelled?       <str> 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N'

Rows: 8781
Columns: 3
$ Transaction ID <i64> 1957155, 2147025, 3065073, 6622100, 14877473, 16513177, 20134045, 20930585, 21186197, 21915512
$ Account_To     <i64> 27356852, 44242297, 10295384, 45519330, 28680375, 63959769, 25768265, 44378133, 72856610, 60417212
$ Account_From   <i64> 76206810, 24826358, 52104303, 69315008, 44586370, 99015119, 50627436, 22054113, 77880852, 28429440

None

None

None

None

In [83]:
acc_info_df = (
    acc_info_df
    .filter(
        pl.col('Account Holder ID').is_not_null()
    )
    # .sort(pl.col('Account Holder ID').str.len_chars(), descending=True)
    .with_columns(
        pl.col('Account Holder ID').str.split(', ')
    )
    .explode('Account Holder ID')
    # .filter(pl.col('Account Holder ID').is_in(["89920386", "97325900"]))
)
acc_info_df.head()

shape: (5, 5)
┌────────────────┬──────────────┬───────────────────┬──────────────┬─────────┐
│ Account Number ┆ Account Type ┆ Account Holder ID ┆ Balance Date ┆ Balance │
│ ---            ┆ ---          ┆ ---               ┆ ---          ┆ ---     │
│ i64            ┆ str          ┆ str               ┆ str          ┆ f64     │
╞════════════════╪══════════════╪═══════════════════╪══════════════╪═════════╡
│ 10005367       ┆ Platinum     ┆ 70390615          ┆ 2023-01-31   ┆ 728.25  │
│ 10011977       ┆ Basic        ┆ 20123998          ┆ 2023-01-31   ┆ 676.54  │
│ 10024680       ┆ Platinum     ┆ 54374080          ┆ 2023-01-31   ┆ 567.46  │
│ 10031238       ┆ Basic        ┆ 97027297          ┆ 2023-01-31   ┆ 576.52  │
│ 10034341       ┆ Joint        ┆ 89920386          ┆ 2023-01-31   ┆ 390.39  │
└────────────────┴──────────────┴───────────────────┴──────────────┴─────────┘

In [89]:
tra_detail_df.select('Cancelled?').unique()

shape: (2, 1)
┌────────────┐
│ Cancelled? │
│ ---        │
│ str        │
╞════════════╡
│ Y          │
│ N          │
└────────────┘

In [90]:
transactions_df = (
    tra_detail_df
    .join(tra_path_df, how='inner', on='Transaction ID')
    .filter(
        (pl.col('Cancelled?')=='N') &
        (pl.col('Value').gt(1000))
    )
)
transactions_df.head()

shape: (5, 6)
┌────────────────┬──────────────────┬────────┬────────────┬────────────┬──────────────┐
│ Transaction ID ┆ Transaction Date ┆ Value  ┆ Cancelled? ┆ Account_To ┆ Account_From │
│ ---            ┆ ---              ┆ ---    ┆ ---        ┆ ---        ┆ ---          │
│ i64            ┆ str              ┆ f64    ┆ str        ┆ i64        ┆ i64          │
╞════════════════╪══════════════════╪════════╪════════════╪════════════╪══════════════╡
│ 45024251       ┆ 2023-02-11       ┆ 1137.9 ┆ N          ┆ 15826579   ┆ 53727603     │
│ 46779876       ┆ 2023-02-02       ┆ 1019.5 ┆ N          ┆ 21694967   ┆ 82023979     │
│ 57491925       ┆ 2023-02-12       ┆ 1761.1 ┆ N          ┆ 19094015   ┆ 65589565     │
│ 108536548      ┆ 2023-02-06       ┆ 1085.4 ┆ N          ┆ 86207903   ┆ 10553619     │
│ 176916326      ┆ 2023-02-12       ┆ 1955.6 ┆ N          ┆ 33632099   ┆ 18185362     │
└────────────────┴──────────────────┴────────┴────────────┴────────────┴──────────────┘

In [91]:
accounts_df = (
    acc_holder_df
    .with_columns(
        (pl.lit('0') + pl.col('Contact Number').cast(pl.Utf8)).alias('Contact Number')
    )
    .join(
        acc_info_df.with_columns(
            pl.col('Account Holder ID').cast(pl.Int64)
        ), 
        how='inner', 
        on='Account Holder ID'
    )
    .filter(pl.col('Account Type') != ('Platinum'))
)
accounts_df

shape: (2_617, 9)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬─────────┐
│ Account    ┆ Name      ┆ Date of   ┆ Contact   ┆ … ┆ Account   ┆ Account   ┆ Balance   ┆ Balance │
│ Holder ID  ┆ ---       ┆ Birth     ┆ Number    ┆   ┆ Number    ┆ Type      ┆ Date      ┆ ---     │
│ ---        ┆ str       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ f64     │
│ i64        ┆           ┆ str       ┆ str       ┆   ┆ i64       ┆ str       ┆ str       ┆         │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═════════╡
│ 20123998   ┆ Maynord   ┆ 21/08/199 ┆ 077161073 ┆ … ┆ 10011977  ┆ Basic     ┆ 2023-01-3 ┆ 676.54  │
│            ┆ Surgeoner ┆ 7         ┆ 05        ┆   ┆           ┆           ┆ 1         ┆         │
│ 97027297   ┆ Blake     ┆ 30/06/195 ┆ 072535874 ┆ … ┆ 10031238  ┆ Basic     ┆ 2023-01-3 ┆ 576.52  │
│            ┆ Dudson    ┆ 5         ┆ 45        ┆   ┆           ┆           ┆ 1         ┆         │
│ 89920386   ┆ Ajay      ┆ 19/12/193 ┆ 073955805 ┆ … ┆ 10034341  ┆ Joint     ┆ 2023-01-3 ┆ 390.39  │
│            ┆ Douce     ┆ 0         ┆ 34        ┆   ┆           ┆           ┆ 1         ┆         │
│ 97325900   ┆ Evonne    ┆ 07/07/194 ┆ 076312554 ┆ … ┆ 10034341  ┆ Joint     ┆ 2023-01-3 ┆ 390.39  │
│            ┆ Lindell   ┆ 6         ┆ 12        ┆   ┆           ┆           ┆ 1         ┆         │
│ …          ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …       │
│ 94872412   ┆ Tabby     ┆ 13/10/196 ┆ 075862103 ┆ … ┆ 99791709  ┆ Gold      ┆ 2023-01-3 ┆ 15.05   │
│            ┆ Matteotti ┆ 2         ┆ 87        ┆   ┆           ┆           ┆ 1         ┆         │
│ 90069774   ┆ Cyndia    ┆ 09/03/196 ┆ 074941325 ┆ … ┆ 99877007  ┆ Basic     ┆ 2023-01-3 ┆ 582.0   │
│            ┆ Fosse     ┆ 1         ┆ 54        ┆   ┆           ┆           ┆ 1         ┆         │
│ 45810412   ┆ Arch      ┆ 05/06/200 ┆ 072895109 ┆ … ┆ 99937043  ┆ Joint     ┆ 2023-01-3 ┆ 918.42  │
│            ┆ Segrave   ┆ 0         ┆ 57        ┆   ┆           ┆           ┆ 1         ┆         │
│ 83107272   ┆ Niko      ┆ 11/12/200 ┆ 073124637 ┆ … ┆ 99937043  ┆ Joint     ┆ 2023-01-3 ┆ 918.42  │
│            ┆ Rudderham ┆ 3         ┆ 59        ┆   ┆           ┆           ┆ 1         ┆         │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴─────────┘

In [102]:
(
    accounts_df
    .join(
        transactions_df, how='inner', left_on='Account Number', right_on='Account_From'
    )
    # .columns
    .rename({'Account_To': 'Account To'})
    .select(
        'Transaction ID',
        'Account To',
        'Transaction Date',
        'Value',
        'Account Number',
        'Account Type',
        'Balance Date',
        'Balance',
        'Name',
        'Date of Birth',
        'Contact Number',
        'First Line of Address'
    )
    .unique()
)

shape: (476, 12)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Transactio ┆ Account To ┆ Transacti ┆ Value  ┆ … ┆ Name      ┆ Date of   ┆ Contact   ┆ First     │
│ n ID       ┆ ---        ┆ on Date   ┆ ---    ┆   ┆ ---       ┆ Birth     ┆ Number    ┆ Line of   │
│ ---        ┆ i64        ┆ ---       ┆ f64    ┆   ┆ str       ┆ ---       ┆ ---       ┆ Address   │
│ i64        ┆            ┆ str       ┆        ┆   ┆           ┆ str       ┆ str       ┆ ---       │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ str       │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1019117125 ┆ 43623061   ┆ 2023-02-0 ┆ 1502.2 ┆ … ┆ Babbette  ┆ 24/05/193 ┆ 073559901 ┆ 447       │
│            ┆            ┆ 2         ┆        ┆   ┆ Bromby    ┆ 6         ┆ 94        ┆ Dwight    │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ Circle    │
│ 6732430556 ┆ 60114464   ┆ 2023-02-1 ┆ 1640.4 ┆ … ┆ Harrietta ┆ 12/05/197 ┆ 073196857 ┆ 88637     │
│            ┆            ┆ 0         ┆        ┆   ┆ McIlwrath ┆ 1         ┆ 75        ┆ Rutledge  │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ Point     │
│ 3203866781 ┆ 86339899   ┆ 2023-02-0 ┆ 1792.7 ┆ … ┆ Em        ┆ 25/11/194 ┆ 074609927 ┆ 7776      │
│            ┆            ┆ 6         ┆        ┆   ┆ Willicott ┆ 3         ┆ 33        ┆ Parkside  │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ Way       │
│ 7466187412 ┆ 37503622   ┆ 2023-02-0 ┆ 1300.7 ┆ … ┆ Brinn     ┆ 13/10/199 ┆ 075381419 ┆ 70105     │
│            ┆            ┆ 9         ┆        ┆   ┆ Attkins   ┆ 3         ┆ 37        ┆ Hayes Way │
│ …          ┆ …          ┆ …         ┆ …      ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 2065900199 ┆ 39542358   ┆ 2023-02-1 ┆ 2361.6 ┆ … ┆ Emanuele  ┆ 04/03/196 ┆ 072668809 ┆ 8678      │
│            ┆            ┆ 1         ┆        ┆   ┆ Mitcham   ┆ 7         ┆ 04        ┆ Oneill    │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ Place     │
│ 9074617751 ┆ 78234498   ┆ 2023-02-0 ┆ 1369.6 ┆ … ┆ Mariana   ┆ 02/12/195 ┆ 071885728 ┆ 6 Darwin  │
│            ┆            ┆ 4         ┆        ┆   ┆ Aburrow   ┆ 5         ┆ 54        ┆ Pass      │
│ 4286864758 ┆ 42726921   ┆ 2023-02-1 ┆ 1342.4 ┆ … ┆ Jana      ┆ 02/03/193 ┆ 073027186 ┆ 48 Sutter │
│            ┆            ┆ 2         ┆        ┆   ┆ Sibthorp  ┆ 8         ┆ 72        ┆ idge      │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ Plaza     │
│ 8811694280 ┆ 25510430   ┆ 2023-02-0 ┆ 1359.0 ┆ … ┆ Tabby     ┆ 13/10/196 ┆ 075862103 ┆ 7517      │
│            ┆            ┆ 6         ┆        ┆   ┆ Matteotti ┆ 2         ┆ 87        ┆ Aberg     │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ Plaza     │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘